@use "../../../shared/styles" as *;

.adminDashboardPage {
  width: 100%;
  background: var(--color-bg);
}

.adminDashboardPage__stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 24px;
}
